.course__prew {
  // transform: translateY(-370px);
  position: relative;
  font-family: $ff-inter;
  width: 100%;
  height: 191.6rem;
  margin-top: -86rem;
  &::before {
    content: "";
    width: 42rem;
    height: 30rem;
    background-color: rgba(135, 1, 202, 1);
    position: absolute;
    top: 9.1%;
    left: 21%;
    border-radius: 1.6rem 0 0 1.6rem;
    z-index: 10;
  }

  .course_content1 {
    width: calc(100% - 24.1rem);
    height: calc(100% - 134.4rem);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 2%;
    left: -2%;
    z-index: 12;
    .cour__img {
      transform: translate(22.5rem, -13.5rem);
    }
    .cour__right {
      width: calc(100% - 13.4rem);
      // height: 30rem;
      background-color: rgba(135, 1, 202, 1);
      border-radius: 0 1.6rem 1.6rem 0;
      position: relative;
      padding: 2.8rem 9.2rem 3.8rem 1.4rem;
      margin: 0 auto;

      .cour__title {
        width: calc(100% - 30rem);

        .cour_title_header {
          width: 40.6rem;
          height: 9.6rem;
          font-size: 3.2rem;
          line-height: 4.8rem;
          color: $color-white;
        }
        .cour__info {
          width: 70rem;

          display: flex;
          gap: 0.8rem;
          margin-bottom: 2.1rem;

          .cour_info_title {
            color: $color-white;
            text-transform: uppercase;
            text-align: center;
            width: 14rem;
            font-size: 1.6rem;
            margin: 0 auto;

            border-radius: 0.8rem;
            &:first-of-type {
              padding: 1.1rem 2.25rem;
              background-color: $color-orange;
            }
            &:nth-child(2) {
              padding: 1.1rem 4.75rem;
              background-color: rgba(126, 196, 204, 1);
            }
            &:nth-child(3) {
              padding: 1.1rem 3.6rem;
              background-color: rgba(243, 127, 127, 1);
            }
            &:nth-child(4) {
              padding: 1.1rem 4.8rem;
              background-color: rgba(123, 144, 255, 1);
            }
          }
        }
        .cour__rating__member {
          margin-top: 1.3rem;
          gap: 3.8rem;
          .rating {
            width: 21.1rem;
            // height: 53px;
            position: relative;
            &::after {
              content: "";
              width: 0.1rem;
              height: 4.7rem;
              background-color: $color-white;
              position: absolute;
              top: 2%;
              right: -7%;
            }
            .rating__icon {
              .fa-star {
                color: rgba(255, 165, 31, 1);
                font-size: 1.6rem;
              }
              .rating__number {
                font-size: 1.8rem;
                font-weight: 700;
                color: rgba(255, 255, 255, 1);
              }
              .rating__title {
                width: 21.1rem;

                margin-top: 0.5rem;
                color: rgba(224, 224, 224, 1);
                font-size: 1.6rem;
                font-weight: 400;
              }
            }
          }
          .member {
            width: 416.63px;
            display: flex;
            img {
              // width: 48px;
              // height: 48px;
              border-radius: 50%;
              border: 2px solid $color-white;
              width: calc(33%);
              height: calc(70% / 1);

              &:nth-child(2) {
                transform: translateX(-24px);
              }
              &:nth-child(3) {
                transform: translateX(-47px);
              }
              &:nth-child(4) {
                transform: translateX(-70px);
              }
              &:nth-child(5) {
                transform: translateX(-92px);
              }
              &:nth-child(6) {
                transform: translateX(-114px);
              }
              &:nth-child(7) {
                transform: translateX(-137px);
              }
              &:nth-child(8) {
                transform: translateX(-160px);
              }
              &:nth-child(9) {
                transform: translateX(-183px);
              }
              &:nth-child(10) {
                transform: translateX(-206px);
              }
              &:nth-child(11) {
                transform: translateX(-229px);
              }
              &:nth-child(12) {
                transform: translateX(-251px);
              }
              &:nth-child(13) {
                transform: translateX(-275.5px);
              }
              &:nth-child(14) {
                transform: translateX(-300px);
              }
            }
            .member__plus {
              height: calc(70% / 1);
              padding: 15px;
              line-height: 1.4rem;
              font-size: 1.4rem;
              color: $color-primary;
              background-color: $color-white;
              transform: translateX(-383%);
              border: 2px solid rgba(255, 255, 255, 1);
              text-align: center;
              font-weight: 700;
              border-radius: 25px;
              .member__plus__title {
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
  }

  .course_content2 {
    background-image: url("../img/b2.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-5%);
    .vector_pink {
      background-image: url("../img/vector_pink.png");
      width: 100%;
      height: calc(100% - 127.2rem);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 100% 100%;
      position: absolute;
    }
    .course__intro {
      // margin: 0 auto;
      width: calc(100% - 80.7rem);

      text-align: left;
      position: relative;
      // transform: translateY(-127.4rem);
      transform: translateY(207%);
      .intro__title {
        .intro__title__header {
          text-transform: uppercase;
          font-weight: 800;
          font-size: 3.2rem;
          color: $color-white;
          margin-bottom: 1.2rem;
        }
        .sub__intro__title {
          font-size: 1.6rem;
          color: $color-white;
          font-weight: 700;
          margin-bottom: 1.2rem;
        }
        .sub__detail__intro {
          margin-bottom: 3.3rem;
          .sub__detail__intro__header {
            color: rgba(252, 163, 69, 1);
            font-size: 1.6rem;
            font-weight: 700;
            margin-bottom: 1.3rem;
          }
          .sub__detail__intro__title {
            color: $color-white;
            font-size: 1.5rem;
            .sub__detail__number {
              display: inline-block;
              line-height: 0.6rem;
              text-align: center;
              border-radius: 50%;
              padding: 1rem;
              font-size: 1.4rem;
              background: #f9b840;
              background: -webkit-linear-gradient(to top, #f9b840, #f95b34);
              background: linear-gradient(to top, #f9b840, #f95b34);
            }
          }
        }
        .signUp_prew {
          font-family: $ff-inter;
          padding: 1.7rem 1.6rem;
          background-color: $color-orange;
          border: transparent;
          border-radius: 0.8rem;
          color: $color-white;
          transition: all 0.5s;
          font-size: 1.6rem;
          .fa-angle-right {
            margin-left: 1rem;
          }
          &:hover {
            background-color: $color-primary;
            color: $color-orange;
          }
        }
      }
      .intro__img {
        position: absolute;
        left: 284px;
        top: -84px;
      }
      .intro__number {
        .number__1000 {
          position: absolute;
          top: -48%;
          right: -106%;
          .sub__number__1000 {
            font-family: $ff-oswald;
            position: relative;
            color: $color-white;
            font-size: 180px;
            font-weight: 400;
            line-height: 266.76px;
            letter-spacing: -17px;
            transform: rotate(13.06deg);
          }
        }
        .sub__1000 {
          background-color: rgba(249, 184, 64, 1);
          border-radius: 8px;
          width: 202px;
          transform: rotate(-15deg);
          position: absolute;
          left: 142%;
          top: -3%;
          font-family: $ff-inter;
          padding: 19.6px;
          font-size: 15px;
          line-height: 22.4px;
          color: $color-white;
          font-weight: 700;
          .sub__1000__title {
            margin: 0 auto;
          }
        }
        .number__10k {
          position: absolute;
          bottom: -16%;
          right: -98%;
          font-family: $ff-oswald;
          color: $color-white;
          font-size: 18rem;
          font-weight: 400;
          letter-spacing: -0.8rem;
        }
        .sub__10k {
          background-color: #f95b34;
          border-radius: 0.8rem;
          width: 24.4rem;

          color: $color-white;
          transform: rotate(15deg);
          position: absolute;
          bottom: -7%;
          right: -120%;
          .sub__10k__title {
            margin: 0 auto;
            font-family: $ff-inter;
            padding: 1.96rem;
            font-size: 1.5rem;
          }
        }
        .number__5000 {
          position: absolute;
          bottom: 23%;
          right: -175%;
          .sub__number__5000 {
            font-family: $ff-oswald;
            color: $color-white;
            font-size: 18rem;
            font-weight: 400;

            letter-spacing: -0.6rem;
            transform: rotate(-9.89deg);
          }
        }
        .sub__5000 {
          background-color: rgba(135, 1, 202, 1);
          border-radius: 0.8rem;
          width: 22.3rem;
          color: $color-white;
          transform: rotate(15deg);
          font-family: $ff-inter;
          position: absolute;
          right: -180%;
          bottom: 71%;
          .sub__5000__title {
            margin: 0 auto;
            font-size: 1.5rem;
            padding: 1.96rem;
          }
        }
      }
    }
  }
}
