.document_new {
  position: relative;
  // bottom: 115.1rem;
  font-family: $ff-inter;
  color: rgba(49, 49, 49, 1);
  text-align: center;
  margin-top: -78rem;
  margin-bottom: 0;
  .document__content {
    background-color: $color-white;
    border-radius: 0.8rem;
    padding: 6.3rem 2.4rem 8.2rem 2.4rem;
    .document__header {
      text-transform: uppercase;
      position: relative;
      margin-bottom: 3.5rem;
      .document__header__title {
        font-weight: 800;
        font-size: 3.2rem;
      }
      img {
        width: 4rem;
        height: 4rem;
      }
      .document__header__sub__title {
        position: absolute;
        color: $color-white;
        font-weight: 600;
        top: 27%;
        right: 36.7%;
        font-size: 1.2rem;
      }
    }
    .document__topic {
      text-align: center;
      margin-bottom: 2.3rem;
      .document__topic__navbar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .document__topic__item {
          &:hover {
            .document__topic__link {
              background-color: rgba(249, 132, 26, 1);
              color: $color-white;
            }
          }
        }
        .document__topic__link {
          font-size: 1.6rem;
          color: rgba(49, 49, 49, 1);
          padding: 1rem 2rem;
          transition: all 0.5s;
          font-weight: 600;
          border-radius: 3.2rem;
        }
      }
    }
    .document__form {
      transform: translateX(18%);
      margin-bottom: 2.5rem;
      form {
        border: 0.1rem solid #e5e7eb;
        width: 79rem;
        height: 4.4rem;
        padding: 1rem 0.6rem 1rem 1rem;
        border-radius: 4.4rem;
        color: rgba(136, 136, 136, 1);
        .document__form__left {
          font-weight: 400;
          font-size: 1.6rem;
          position: relative;
          margin-left: 3rem;
          cursor: pointer;
          .fa-chevron-down {
            margin-left: 5.33rem;
          }
          &::after {
            content: "";
            width: 0.1rem;
            height: 2.2rem;
            background-color: rgba(206, 206, 206, 1);
            position: absolute;
            top: 0%;
            right: -8%;
          }
        }
        .document__form__center {
          font-size: 1.6rem;
          font-weight: 400;
          color: rgba(136, 136, 136, 1);
          transform: translateX(-23%);
        }
        .form__icon {
          width: 3.2rem;
          height: 3.2rem;
          background-color: $color-primary;
          color: $color-white;
          border-radius: 3.2rem;
          transform: translate(-6%, -18%);
          cursor: pointer;
          .fa-magnifying-glass {
            margin: 0 auto;
            padding: 0.6rem;
            font-size: 1.4rem;
            line-height: 2.2rem;
          }
        }
      }
    }
    .document__detail {
      .document__items {
        position: relative;
        margin-bottom: 1.6rem;
        &:hover {
          .sub__img {
            cursor: pointer;
            opacity: 1;
          }
          .item__title {
            color: $color-primary;
          }
        }

        .items__img {
          img {
            border-radius: 0.8rem 0.8rem 0 0;
          }
        }
        .sub__img {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1.5rem;
          position: absolute;
          top: 0%;
          left: 6%;
          width: 28.2rem;
          height: 21.9rem;
          color: $color-white;
          background-color: rgba(0, 0, 0, 0.6);
          border-radius: 0.8rem 0.8rem 0 0;
          opacity: 0;
          transition: all 0.5s;

          .sub__img__title {
            padding: 10px;
            transition: all 0.5s;
            font-size: 1.4rem;
            &:first-of-type {
              border-bottom: 1px dotted $color-white;
              position: relative;
              &::before {
                content: "";
                width: 0.1rem;
                height: 2.4rem;
                background-color: $color-white;
                position: absolute;
                top: 25%;
                right: -7%;
              }
            }
            &:hover {
              color: $color-primary;
            }
          }
        }
        .item__title {
          font-size: 1.6rem;
          font-weight: 400;
          text-align: left;
          transform: translateX(6.5%);
          margin-top: 1.5rem;
          margin-bottom: 0.8rem;
          transition: all 0.5s;
          position: relative;
        }
        .item__rating {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 2rem;
          // border-top: 1px dotted rgba(210, 186, 222, 1);
          .item__rating__title {
            font-size: 1.4rem;
            font-weight: 400;
            color: rgba(89, 89, 89, 1);

            .fa-eye {
              color: rgba(0, 0, 0, 1);
              margin-right: 1.056rem;
            }
          }
          .item__rating__icon {
            font-size: 1.4rem;
            .fa-star {
              color: rgba(249, 184, 64, 1);
            }
          }
        }
      }
    }
    .btn__document {
      padding: 1.6rem;
      background-color: rgba(249, 132, 26, 1);
      color: $color-white;
      border-radius: 0.8rem;
      border: transparent;
      font-size: 1.6rem;
      font-weight: 600;
      transition: all 0.5s;
      .fa-chevron-right {
        margin-left: 1.911rem;
      }
      &:hover {
        background-color: $color-primary;
      }
    }
  }
}
