.exam_new {
  font-family: $ff-inter;
  color: rgba(49, 49, 49, 1);
  text-align: center;
  margin-top: 0;
  // transform: translateY(-115rem);
  background-image: url("../img/white.png");
  height: 75.4rem;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .exam__content {
    .exam__header {
      text-transform: uppercase;
      position: relative;
      margin-bottom: 3.5rem;
      position: relative;

      .exam__header__title {
        font-weight: 800;
        font-size: 3.2rem;
        text-align: center;
      }
      .btn_exam__header__title {
        border: 0.1rem solid rgba(135, 1, 202, 1);
        border-radius: 10rem;
        padding: 1.1rem 2.2rem;
        font-size: 1.6rem;
        font-weight: 600;
        color: $color-primary;
        text-align: center;
        transition: all 0.5s;
        position: absolute;
        top: 0%;
        right: 0%;
        .fa-chevron-right {
          margin-left: 1rem;
          color: white;
          background-color: $color-orange;
          // border-radius: 24px;
          transition: all 0.5s;
          padding: 0.4rem 0.8rem;
          border-radius: 50%;
        }
        &:hover {
          background-color: $color-orange;
          color: $color-white;
          border-color: $color-orange;
          i {
            background-color: $color-primary;
          }
        }
      }
    }
    .exam__topic {
      text-align: center;
      margin-bottom: 2.3rem;
      .exam__topic__navbar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .exam__topic__item {
          &:hover {
            .exam__topic__link {
              background-color: rgba(249, 132, 26, 1);
              color: $color-white;
            }
          }
        }
        .exam__topic__link {
          font-size: 1.6rem;
          color: rgba(49, 49, 49, 1);
          padding: 1rem 2rem;
          transition: all 0.5s;
          font-weight: 600;
          border-radius: 3.2rem;
        }
      }
    }
    .exam__form {
      transform: translateX(18%);
      margin-bottom: 2.5rem;
      form {
        border: 0.1rem solid #e5e7eb;
        width: 79rem;
        height: 4.4rem;
        padding: 1rem 0.6rem 1rem 1rem;
        border-radius: 4.4rem;
        color: rgba(136, 136, 136, 1);
        .exam__form__left {
          font-weight: 400;
          font-size: 1.6rem;
          position: relative;
          margin-left: 3rem;
          cursor: pointer;
          .fa-chevron-down {
            margin-left: 5.33rem;
          }
          &::after {
            content: "";
            width: 0.1rem;
            height: 2.2rem;
            background-color: rgba(206, 206, 206, 1);
            position: absolute;
            top: 0;
            right: -8%;
          }
        }
        .exam__form__center {
          font-size: 1.6rem;
          font-weight: 400;
          color: rgba(136, 136, 136, 1);
          transform: translateX(-23%);
        }
        .form__icon {
          width: 3.2rem;
          height: 3.2rem;
          background-color: $color-primary;
          color: $color-white;
          border-radius: 3.2rem;
          transform: translate(-6%, -18%);
          cursor: pointer;
          .fa-magnifying-glass {
            margin: 0 auto;
            padding: 0.6rem;
            font-size: 1.4rem;
            line-height: 2.2rem;
          }
        }
      }
    }
    .exam__detail {
      .exam__detail__1,
      .exam__detail__2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;

        .exam__items {
          padding: 1rem 2rem;
          display: flex;
          gap: 1rem;
          justify-content: space-between;
          transition: all 0.5s;
          cursor: pointer;
          border-radius: 1.6rem;
          .item__left {
            .left_img {
              margin-bottom: 1rem;
              img {
                border-radius: 1rem;
              }
            }
            .sub__img {
              font-size: 1.4rem;
              font-weight: 600;
              transition: all 0.5s;
            }
          }
          .item__right {
            transition: all 0.5s;
            .header__right {
              width: 212px;
              font-size: 1.4rem;
              text-align: left;
              margin-bottom: 0;
              span {
                font-weight: 600;
              }
            }
            .info__right {
              text-align: left;
              font-size: 1.4rem;
              font-weight: 600;
            }
            .infomation {
              text-align: left;
              .infomation__item {
                margin-bottom: 1rem;
                font-size: 1.4rem;
                .fa-solid {
                  color: $color-primary;
                  transition: all 0.5s;
                }
              }
            }
            .exam__hastag {
              display: flex;
              justify-content: space-between;
              align-items: center;
              .exam__hastag__title {
                font-size: 1.2rem;
                font-weight: 400;
                color: rgba(136, 136, 136, 1);
                padding: 0.6rem 1rem;
                background-color: rgba(236, 236, 236, 1);
                border-radius: 2.6rem;
              }
            }
          }
          &:hover {
            background-color: $color-primary;
            .item__left {
              .sub__img {
                color: $color-white;
              }
            }
            .item__right {
              color: $color-white;
              .infomation {
                .infomation__item {
                  .fa-solid {
                    color: white;
                  }
                }
              }
              .exam__hastag {
                .exam__hastag__title {
                  background-color: $color-orange;
                  color: white;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
      .exam__detail__1 {
        margin-bottom: 4rem;
      }
    }
    .btn_exam {
      margin-top: 2.4rem;
      padding: 1.6rem;
      background-color: rgba(249, 132, 26, 1);
      color: $color-white;
      border-radius: 0.8rem;
      border: transparent;
      font-size: 1.6rem;
      font-weight: 600;
      transition: all 0.5s;
      .fa-chevron-right {
        margin-left: 1.911rem;
      }
      &:hover {
        background-color: $color-primary;
      }
    }
  }
}
