footer {
  position: relative;
  font-family: $ff-inter;
  background: rgba(70, 19, 98, 1);
  background: -webkit-linear-gradient(
    to right,
    rgba(70, 19, 98, 1),
    rgba(176, 0, 96, 0.6271)
  );
  background: linear-gradient(
    to right,
    rgba(70, 19, 98, 1),
    rgba(176, 0, 96, 0.6271)
  );
  margin-bottom: 0;
  margin-top: 8.4rem;
  .footer__main {
    padding-top: 13.8rem;
    padding-bottom: 3.8rem;
    margin: 0 auto;
    position: relative;

    .footer__item {
      &:first-of-type {
        margin-right: 8.733rem;
        img {
          width: 28.3rem;
          height: 9.2rem;
          margin-bottom: 2rem;
        }
        .footer__item__title {
          width: 28.2rem;
          height: 8.4rem;
          font-size: 1.4rem;
          font-weight: 400;
          font-family: $ff-inter;
          color: $color-white;
        }
      }
      &:nth-child(2) {
        margin-right: 8.833rem;
        .footer__item__header {
          width: 20rem;
          font-size: 2rem;
          font-weight: 600;
          font-family: $ff-inter;
          margin-bottom: 2rem;
          color: $color-orange;
        }
        .items__info {
          .items__info__title {
            cursor: pointer;
            color: $color-white;
            font-size: 1.4rem;
            font-weight: 400;
            font-family: $ff-inter;
            transition: all 0.5s;
            &:hover {
              color: $color-orange;
            }
          }
        }
      }
      &:nth-child(3) {
        margin-right: 8.833rem;
        .footer__item__header {
          width: 20rem;
          font-size: 2rem;
          font-weight: 600;
          font-family: $ff-inter;
          margin-bottom: 20px;
          color: $color-orange;
        }
        .phone__item {
          width: 22.8rem;
          height: 10.8rem;
          .phone__item__title {
            cursor: pointer;
            color: $color-white;
            font-weight: 400;
            margin-bottom: 1.2rem;
            transition: all 0.5s;
            font-size: 1.4rem;
            .fa-location-dot {
              color: $color-orange;
              margin-right: 1.1rem;
            }
            &:hover {
              color: $color-orange;
            }
          }
        }
      }
      &:nth-child(4) {
        .footer__item__header {
          font-size: 2rem;
          font-weight: 600;
          font-family: $ff-inter;
          margin-bottom: 2rem;
          color: $color-orange;
        }
        .footer__sub {
          position: relative;
          margin-bottom: 3rem;
          .footer__sub__title {
            width: 33.9rem;
            height: 2.1rem;
            font-family: $ff-inter;
            color: $color-white;
            font-size: 1.4rem;

            font-weight: 400;
          }
          input {
            width: 30.6rem;
            height: 4.4rem;
            border-radius: 4.4rem;
            border: 0.03rem solid rgba(171, 164, 164, 1);
            padding: 2rem 1rem 2rem 2rem;
            background-color: transparent;
            color: $color-white;
            &:focus-visible {
              outline: none;
            }
            &::placeholder {
              color: rgba(171, 164, 164, 1);
              font-size: 1.4rem;
            }
          }
          .icon__form {
            cursor: pointer;
            position: absolute;
            top: 47%;
            right: 12%;
            width: 3.2rem;
            height: 3.2rem;
            border-radius: 3.2rem;
            color: white;
            background-color: $color-orange;
            text-align: center;
            .fa-paper-plane {
              padding: 1rem;
              transform: translateX(-0.4rem);
              line-height: 1.3rem;
              font-size: 1.4rem;
            }
          }
        }
        .follow {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .follow__title {
            margin-bottom: 0;
            font-size: 1.6rem;
            font-family: $ff-inter;
            font-weight: 600;
            color: $color-orange;
          }
          .follow__internet {
            .fa-brands {
              cursor: pointer;
              margin-right: 1rem;
              color: $color-white;
              font-size: 16px;
              width: 2.4rem;
              height: 2.4rem;
              border-radius: 2.4rem;
              text-align: center;
              line-height: 24px;
              &:nth-child(1) {
                background-color: rgba(51, 76, 140, 1);
              }
              &:nth-child(2) {
                background-color: rgba(242, 0, 0, 1);
              }
              &:nth-child(3) {
                background-color: rgba(12, 12, 12, 1);
              }
              &:nth-child(4) {
                background-image: linear-gradient(
                  to top,
                  rgba(224, 155, 61, 1),
                  rgba(199, 76, 77, 1),
                  rgba(194, 25, 117, 1),
                  rgba(112, 36, 196, 1)
                );
              }
            }
          }
        }
      }
    }
  }

  .footer__copyright {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.1);
    text-align: center;
    img {
      width: 3rem;
      height: 2.8rem;
    }
    .footer__copyright__title {
      margin-bottom: 0;
      color: $color-white;
      font-weight: 600;
      font-size: 1.4rem;
    }
  }
  .home__social {
    position: absolute;
    top: 4%;
    right: 0%;
    z-index: 10;
    .social__container {
      position: absolute;
      right: 40px;
      top: 7px;
      text-align: center;
      .phone,
      .mess,
      .zalo {
        display: inline-block;
        text-decoration: none;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        text-align: center;
        transition: all 0.3s;
        .fa-phone-volume,
        .fa-facebook-messenger {
          font-size: 2rem;
          line-height: 3.8rem;
        }
      }
      .phone {
        border: 0.1rem solid rgba(249, 132, 26, 1);
        color: $color-white;
        .tooltip {
          background-color: $color-orange;
        }
      }
      .mess {
        color: rgba(33, 150, 243, 1);
        background-color: $color-white;
        .tooltip {
          background-color: rgba(33, 150, 243, 1);
        }
      }
      .zalo {
        background-color: $color-white;
        img {
          transform: translateY(0.8rem);
        }
        .tooltip {
          background-color: rgba(33, 150, 243, 1);
        }
      }
      #social__link {
        margin-bottom: 3rem;
        transition: all 0.3s;
        height: 40rem;
        width: 6rem;
        text-align: center;
        position: relative;

        // &.show {
        //   visibility: unset;
        //   opacity: 1;
        //   li a {
        //     left: unset;
        //     bottom: 0;
        //     &.facebook {
        //       bottom: 300px;
        //     }
        //     &.git {
        //       bottom: 100px;
        //     }
        //     &.instagram {
        //       bottom: 200px;
        //     }
        //   }
        // }

        &:hover {
          .social__item {
            a {
              transform: translateX(-50%) scale(0.8);
              transform-origin: center center;
              &:hover {
                filter: blur(0);
                transform: translateX(-50%) scale(1.2);
                transform-origin: 5rem center;
                .tooltip {
                  transform: translateX(-18.2rem) translateY(-3.3rem) rotate(0);
                  opacity: 10;
                }
              }
            }
          }
        }
      }
    }
  }
}
