.infor_student_partner {
  // background-image: url("../img/bg_puple.png");
  // height: 1647px;
  width: 100%;
  background: rgba(123, 36, 185, 1);
  background: -webkit-linear-gradient(
    to bottom,
    rgba(123, 36, 185, 1),
    rgba(123, 36, 185, 0)
  );
  background: linear-gradient(
    to bottom,
    rgba(123, 36, 185, 1),
    rgba(123, 36, 185, 0)
  );
  font-family: $ff-inter;
  // transform: translateY(-1027px);

  .infor {
    padding-top: 29.9rem;
    .infor__content {
      .infor__header {
        margin-bottom: 2.4rem;
        text-transform: uppercase;
        font-size: 3.2rem;
        color: $color-white;
        font-weight: 800;
      }
      .infor__details {
        display: flex;
        gap: 2.4rem;
        margin-bottom: 2.4rem;
        .infor__items {
          .items__day {
            color: $color-white;
            font-size: 1.4rem;
            font-weight: 400;
          }
          .sub__title {
            color: $color-white;
            font-weight: 600;
            font-size: 1.6rem;
            transition: all 0.5s;
            cursor: pointer;
            margin-bottom: 1.5rem;
            &:hover {
              color: rgba(252, 163, 69, 1);
            }
          }
          .img__infor {
            margin-bottom: 1.5rem;
          }
          .sub__img {
            color: $color-white;
            font-weight: 400;
            font-size: 1.6rem;
          }
          &:nth-child(3) {
            .sub__title {
              display: flex;
              justify-content: space-between;
              gap: 7.8rem;
              position: relative;
              margin-bottom: 2.6rem;
              &::after {
                content: "";
                width: 38.5rem;
                height: 0.1rem;
                background-color: $color-white;
                position: absolute;
                bottom: -15px;
                left: 0;
              }
            }
          }
        }
      }
      .btn_infor {
        text-align: center;
        .btn_infor_prew {
          padding: 1.6rem;
          background-color: rgba(249, 132, 26, 1);
          color: $color-white;
          border-radius: 0.8rem;
          border: transparent;
          font-size: 1.6rem;
          font-weight: 600;
          transition: all 0.5s;
          .fa-chevron-right {
            margin-left: 1.911rem;
          }
          &:hover {
            background-color: $color-primary;
          }
        }
      }
    }
  }
  .student {
    margin-top: 8.2rem;
    text-align: center;
    margin-bottom: 2rem;
    height: 57.3rem;

    .student__header {
      color: $color-white;
      font-weight: 800;
      text-transform: uppercase;
      margin-bottom: 5.5rem;
      text-align: center;
      .student__header__title {
        font-size: 3.2rem;
      }
    }
    .student__body {
      background-image: url("../img/Contents.png");
      width: calc(100% - 80.3rem);
      height: 54.495rem;
      // object-fit: cover;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transform: translateX(35rem);
      position: relative;
      .body__left {
        .img1__left {
          position: absolute;
          left: -20%;
          top: -14%;
          background-color: $color-white;
          width: calc(5%);
          height: calc(10% / 1);
          border-radius: 8rem;
          text-align: center;
          img {
            transform: translate(0rem, 0.5rem);
            width: calc(82%);
            height: calc(81% / 1);
            border-radius: 7rem;
          }
        }
        .img2__left {
          border-radius: 8rem;
          position: absolute;
          left: -27%;
          top: 14%;
          background-color: $color-white;
          width: calc(6%);
          height: calc(12% / 1);
          img {
            transform: translate(0.1rem, 0.6rem);
            width: calc(83%);
            height: calc(82% / 1);
            border-radius: 7rem;
          }
        }
        .img3__left {
          width: calc(7%);
          height: calc(14% / 1);
          position: absolute;
          left: -7%;
          top: 12%;
          background-color: $color-white;
          border-radius: 8rem;
          img {
            transform: translate(0rem, 1rem);
            width: calc(73%);
            height: calc(71% / 1);
            border-radius: 7rem;
          }
        }
        .img4__left {
          width: calc(6%);
          height: calc(12% / 1);
          position: absolute;
          left: 8%;
          top: 4%;
          background-color: $color-white;
          border-radius: 8rem;
          img {
            transform: translateY(5px);
            width: calc(83%);
            height: calc(82% / 1);
            border-radius: 7rem;
          }
        }
        .img5__left {
          width: calc(6%);
          height: calc(12% / 1);
          position: absolute;
          left: -14%;
          top: 43%;
          background-color: $color-white;
          border-radius: 8rem;
          img {
            transform: translateY(5px);
            width: calc(83%);
            height: calc(82% / 1);
            border-radius: 7rem;
          }
        }
        .img6__left {
          width: calc(6%);
          height: calc(12% / 1);
          position: absolute;
          left: 2%;
          top: 37%;
          background-color: $color-white;
          border-radius: 8rem;
          img {
            transform: translateY(5px);
            width: calc(83%);
            height: calc(82% / 1);
            border-radius: 7rem;
          }
        }
        .img7__left {
          width: calc(6%);
          height: calc(12% / 1);
          position: absolute;
          left: -22%;
          bottom: 15%;
          background-color: $color-white;
          border-radius: 8rem;
          img {
            transform: translateY(5px);
            width: calc(83%);
            height: calc(82% / 1);
            border-radius: 7rem;
          }
        }
        .img8__left {
          width: calc(6%);
          height: calc(12% / 1);
          position: absolute;
          left: 16%;
          bottom: 25%;
          background-color: $color-white;
          border-radius: 8rem;
          img {
            transform: translateY(5px);
            width: calc(83%);
            height: calc(82% / 1);
            border-radius: 7rem;
          }
        }
      }
      .body__right {
        .img1__right {
          width: calc(6%);
          height: calc(12% / 1);
          position: absolute;
          right: -20%;
          top: -14%;
          background-color: $color-white;
          border-radius: 8rem;
          img {
            transform: translateY(5px);
            width: calc(83%);
            height: calc(82% / 1);
            border-radius: 7rem;
          }
        }
        .img2__right {
          width: calc(6%);
          height: calc(12% / 1);
          position: absolute;
          right: -2%;
          top: 3%;
          background-color: $color-white;
          border-radius: 8rem;
          img {
            transform: translateY(5px);
            width: calc(83%);
            height: calc(82% / 1);
            border-radius: 7rem;
          }
        }
        .img3__right {
          width: calc(6%);
          height: calc(12% / 1);
          position: absolute;
          right: -28%;
          top: 14%;
          background-color: $color-white;
          border-radius: 8rem;
          img {
            transform: translateY(5px);
            width: calc(83%);
            height: calc(82% / 1);
            border-radius: 7rem;
          }
        }
        .img4__right {
          width: calc(6%);
          height: calc(12% / 1);
          position: absolute;
          right: 7%;
          top: 20%;
          background-color: $color-white;
          border-radius: 8rem;
          img {
            transform: translateY(5px);
            width: calc(83%);
            height: calc(82% / 1);
            border-radius: 7rem;
          }
        }
        .img5__right {
          width: calc(6%);
          height: calc(12% / 1);
          position: absolute;
          right: -15%;
          top: 28%;
          background-color: $color-white;
          border-radius: 8rem;
          img {
            transform: translateY(5px);
            width: calc(83%);
            height: calc(82% / 1);
            border-radius: 7rem;
          }
        }
        .img6__right {
          position: absolute;
          right: -1%;
          bottom: 31%;
          background-color: $color-white;
          width: calc(6%);
          height: calc(12% / 1);
          border-radius: 8rem;
          text-align: center;
          img {
            transform: translateY(5px);
            width: calc(83%);
            height: calc(82% / 1);
            border-radius: 7rem;
          }
        }
        .img7__right {
          width: calc(6%);
          height: calc(12% / 1);
          position: absolute;
          right: -12%;
          bottom: 14%;
          background-color: $color-white;
          border-radius: 8rem;
          img {
            transform: translateY(5px);
            width: calc(83%);
            height: calc(82% / 1);
            border-radius: 7rem;
          }
        }
      }
      .body__center {
        background-color: $color-white;
        color: $color-black;
        border-radius: 4rem;
        width: 58.8rem;
        height: 30rem;
        position: absolute;
        top: 12%;
        left: 23%;
        .body__center__title {
          padding: 8.2rem 3rem 1rem 3rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          .body__center__title__header {
            font-size: 1.6rem;
            font-weight: 400;
            text-align: center;
            color: rgba(49, 49, 49, 1);
          }
          .body__center__title__name {
            font-size: 1.4rem;
            font-weight: 600;
            color: rgba(49, 49, 49, 1);
            margin-top: 1.5rem;
            margin-bottom: 0.5rem;
          }
          .body__center__sub__title {
            font-size: 14px;
            font-weight: 400;
            color: rgba(49, 49, 49, 1);
          }
          .icon__center {
            background-color: rgba(246, 146, 30, 1);
            color: $color-white;
            font-size: 4rem;
            border-radius: 50%;
            // line-height: 20px;
            text-align: center;
            transform: translate(0, -30rem);
            .fa-quote-left {
              padding: 2.6rem 2.5rem 2.7rem 2.3rem;
              line-height: 2.7rem;
            }
          }
        }
      }
      .pagination {
        position: absolute;
        bottom: 15%;
        left: 45%;
        .pagination__number {
          color: $color-orange;
          font-size: 1.4rem;
          font-weight: 400;
          &:nth-child(2) {
            width: 0.2rem4;
            height: 1.2rem;
            background-color: rgba(249, 132, 26, 1);
            border-radius: 0.3rem;
            transform: translateY(0.6rem);
            margin-left: 2rem;
          }
          &:nth-child(3) {
            width: 0.1rem;
            height: 1.2rem;
            background-color: #eed6d9;
            border-radius: 0.3rem;
            transform: translateY(0.6rem);
            margin-left: 2rem;
          }
          &:nth-child(4) {
            width: 0.1rem;
            height: 1.2rem;
            background-color: #eed6d9;
            border-radius: 0.3rem;
            transform: translateY(0.6rem);
            margin-left: 2rem;
            margin-right: 2rem;
          }
        }
      }
      .student__footer {
        .footer__img {
          img {
            transform: translate(30.5rem, 22rem);
          }
        }
      }
    }
  }
  .partner {
    margin-top: 20rem;
    padding-bottom: 5rem;
    .partner__header {
      font-size: 3.2rem;
      font-weight: 700;
      margin-bottom: 5rem;
      color: rgba(49, 49, 49, 1);
      font-family: $ff-inter;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .icon__header {
        gap: 1rem;
        &:hover {
          .icon__right {
            &:not(:hover) {
              border: 0.1rem solid $color-primary;
              color: $color-primary;
              background-color: $color-white;
            }
          }
        }
        .icon__left {
          width: 3.2rem;
          height: 3.2rem;
          border-radius: 3.2rem;
          border: 0.1rem solid $color-primary;
          color: $color-primary;
          text-align: center;
          line-height: 2.1rem;
          transition: all 0.5s;
          cursor: pointer;
          .fa-angle-left {
            font-size: 1.5rem;
          }
          &:hover {
            background-color: $color-primary;
            color: $color-white;
          }
        }
        .icon__right {
          cursor: pointer;
          width: 3.2rem;
          height: 3.2rem;
          border-radius: 3.2rem;
          border: 1px solid $color-primary;
          color: $color-white;
          text-align: center;
          line-height: 2.1rem;
          background-color: $color-primary;
          transition: all 0.5s;
          .fa-angle-right {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
