.tooltip {
  width: 18rem;
  height: 3.2rem;
  //   position: absolute;

  //   top: 0;
  //   right: 0;
  border-radius: 1rem;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;

  transition: all 0.2s 0.1s ease-out;
  transform-origin: 6rem center;
  //   transform: translateX(-50px) ;
  transform: translateX(-18rem) translateY(-7.2rem) rotate(30deg);
  //   opacity: 2;
  //   opacity: 0;
  //   visibility: hidden;
  text-align: center;

  span {
    font-size: 1.4rem;
    font-weight: 500;
    color: $color-white;
  }
}
